asgiref==3.11.1
Django==6.0.3
django-environ==0.13.0
dj-database-url==3.1.2
gunicorn==25.2.0
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.10.0
